/* Import the Google Font first */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

/* Then, import the Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;